html,body{
    height: 100% !important;
    font-family: var(--font-inter) !important;
    background-color: #f7f7f7 !important;
}


.btn-dark:hover {
    color: #000000 !important;
    background-color: #fff !important;
}
.btn-danger:hover {
    color: #dc3545 !important;
    background-color: #fff !important;
}
.btn-default:hover {  
    color:  #020202 !important;
    border-color: #020202 !important;
}

.bg-dark{
    background-color:#000 !important;
}
.form-control:focus {
    border-color: #000000;
    box-shadow: none;
} 